In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor

In [2]:
dataset = pd.read_excel("GloboNovelas.xlsx")

In [3]:
dataset

,Novela,Inicio,Final,Capitulos,Autor,Audiencia,Faixa,Minutos,Horas,Maiores,Mais Famosas,Audiência Média Por Autor,Posição Autor,Número de Paravras,Posição Qtd Novelas,Classificação,Ano,Menu
0,Champagne,1983-10-24,1984-05-04,167,Cassiano Gabus Mendes,46.84,21 hrs,8350,139.166667,155,70,50.644167,1,1,7,>40,1984,01 - >40
1,"Meu Bem, Meu Mal",1990-10-29,1991-05-17,173,Cassiano Gabus Mendes,50.34,21 hrs,8650,144.166667,135,45,50.644167,1,4,7,>40,1991,01 - >40
2,Escalada,1975-01-06,1975-08-25,199,Lauro César Muniz,47.96,21 hrs,9950,165.833333,62,59,48.451000,3,1,11,>40,1975,01 - >40
3,O Casarão,1976-06-07,1976-12-10,159,Lauro César Muniz,51.82,21 hrs,7950,132.500000,188,36,48.451000,3,2,11,>40,1976,01 - >40
4,Espelho Mágico,1977-06-14,1977-12-05,150,Lauro César Muniz,48.91,21 hrs,7500,125.000000,216,54,48.451000,3,2,11,>40,1977,01 - >40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,A Lei do Amor,2016-10-03,2017-03-31,155,Maria Adelaide Amaral,27.22,21 hrs,7750,129.166667,196,225,28.297500,43,4,21,<30 >20,2017,03 - <30 >20
85,A Sombra da Rebecca,1967-02-20,1967-06-24,90,Glória Magadan,8.00,21 hrs,4500,75.000000,280,296,8.946667,70,4,12,<20,1967,04 - <20
86,"Anastácia, a Mulher sem Destino",1967-06-26,1967-12-16,127,Emiliano Queiroz,5.47,21 hrs,6350,105.833333,257,300,5.470000,71,5,45,<20,1967,04 - <20
87,O Ébrio,1965-11-08,1966-02-18,75,José Castellar,5.23,21 hrs,3750,62.500000,294,302,5.230000,72,2,45,<20,1966,04 - <20
88,O Rei dos Ciganos,1966-09-12,1967-02-17,115,Moysés Weltman,6.70,21 hrs,5750,95.833333,268,298,4.135000,73,4,21,<20,1967,04 - <20

In [4]:
dataset.to_csv("GloboNovelas.csv",index=None,header=True)

In [5]:
dataset_csv = pd.read_csv("GloboNovelas.csv")

In [6]:
dataset_csv

,Novela,Inicio,Final,Capitulos,Autor,Audiencia,Faixa,Minutos,Horas,Maiores,Mais Famosas,Audiência Média Por Autor,Posição Autor,Número de Paravras,Posição Qtd Novelas,Classificação,Ano,Menu
0,Champagne,1983-10-24,1984-05-04,167,Cassiano Gabus Mendes,46.84,21 hrs,8350,139.166667,155,70,50.644167,1,1,7,>40,1984,01 - >40
1,"Meu Bem, Meu Mal",1990-10-29,1991-05-17,173,Cassiano Gabus Mendes,50.34,21 hrs,8650,144.166667,135,45,50.644167,1,4,7,>40,1991,01 - >40
2,Escalada,1975-01-06,1975-08-25,199,Lauro César Muniz,47.96,21 hrs,9950,165.833333,62,59,48.451000,3,1,11,>40,1975,01 - >40
3,O Casarão,1976-06-07,1976-12-10,159,Lauro César Muniz,51.82,21 hrs,7950,132.500000,188,36,48.451000,3,2,11,>40,1976,01 - >40
4,Espelho Mágico,1977-06-14,1977-12-05,150,Lauro César Muniz,48.91,21 hrs,7500,125.000000,216,54,48.451000,3,2,11,>40,1977,01 - >40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,A Lei do Amor,2016-10-03,2017-03-31,155,Maria Adelaide Amaral,27.22,21 hrs,7750,129.166667,196,225,28.297500,43,4,21,<30 >20,2017,03 - <30 >20
85,A Sombra da Rebecca,1967-02-20,1967-06-24,90,Glória Magadan,8.00,21 hrs,4500,75.000000,280,296,8.946667,70,4,12,<20,1967,04 - <20
86,"Anastácia, a Mulher sem Destino",1967-06-26,1967-12-16,127,Emiliano Queiroz,5.47,21 hrs,6350,105.833333,257,300,5.470000,71,5,45,<20,1967,04 - <20
87,O Ébrio,1965-11-08,1966-02-18,75,José Castellar,5.23,21 hrs,3750,62.500000,294,302,5.230000,72,2,45,<20,1966,04 - <20
88,O Rei dos Ciganos,1966-09-12,1967-02-17,115,Moysés Weltman,6.70,21 hrs,5750,95.833333,268,298,4.135000,73,4,21,<20,1967,04 - <20

In [7]:
dataset_csv = dataset_csv.drop(['Inicio','Final','Novela','Faixa','Maiores','Mais Famosas','Classificação','Menu'],axis=1)

In [8]:
dataset_csv

,Capitulos,Autor,Audiencia,Minutos,Horas,Audiência Média Por Autor,Posição Autor,Número de Paravras,Posição Qtd Novelas,Ano
0,167,Cassiano Gabus Mendes,46.84,8350,139.166667,50.644167,1,1,7,1984
1,173,Cassiano Gabus Mendes,50.34,8650,144.166667,50.644167,1,4,7,1991
2,199,Lauro César Muniz,47.96,9950,165.833333,48.451000,3,1,11,1975
3,159,Lauro César Muniz,51.82,7950,132.500000,48.451000,3,2,11,1976
4,150,Lauro César Muniz,48.91,7500,125.000000,48.451000,3,2,11,1977
...,...,...,...,...,...,...,...,...,...,...
84,155,Maria Adelaide Amaral,27.22,7750,129.166667,28.297500,43,4,21,2017
85,90,Glória Magadan,8.00,4500,75.000000,8.946667,70,4,12,1967
86,127,Emiliano Queiroz,5.47,6350,105.833333,5.470000,71,5,45,1967
87,75,José Castellar,5.23,3750,62.500000,5.230000,72,2,45,1966
88,115,Moysés Weltman,6.70,5750,95.833333,4.135000,73,4,21,1967

In [9]:
dataset_csv = pd.get_dummies(dataset_csv, columns=['Autor'])

In [10]:
dataset_csv

,Capitulos,Audiencia,Minutos,Horas,Audiência Média Por Autor,Posição Autor,Número de Paravras,Posição Qtd Novelas,Ano,Autor_Aguinaldo Silva,...,Autor_José Castellar,Autor_João Emanuel Carneiro,Autor_Lauro César Muniz,Autor_Manoel Carlos,Autor_Maria Adelaide Amaral,Autor_Moysés Weltman,Autor_Regina Braga,Autor_Sílvio de Abreu,Autor_Walcyr Carrasco,Autor_Walther Negrão
0,167,46.84,8350,139.166667,50.644167,1,1,7,1984,0,...,0,0,0,0,0,0,0,0,0,0
1,173,50.34,8650,144.166667,50.644167,1,4,7,1991,0,...,0,0,0,0,0,0,0,0,0,0
2,199,47.96,9950,165.833333,48.451000,3,1,11,1975,0,...,0,0,1,0,0,0,0,0,0,0
3,159,51.82,7950,132.500000,48.451000,3,2,11,1976,0,...,0,0,1,0,0,0,0,0,0,0
4,150,48.91,7500,125.000000,48.451000,3,2,11,1977,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,155,27.22,7750,129.166667,28.297500,43,4,21,2017,0,...,0,0,0,0,1,0,0,0,0,0
85,90,8.00,4500,75.000000,8.946667,70,4,12,1967,0,...,0,0,0,0,0,0,0,0,0,0
86,127,5.47,6350,105.833333,5.470000,71,5,45,1967,0,...,0,0,0,0,0,0,0,0,0,0
87,75,5.23,3750,62.500000,5.230000,72,2,45,1966,0,...,1,0,0,0,0,0,0,0,0,0
88,115,6.70,5750,95.833333,4.135000,73,4,21,1967,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
y = dataset_csv.Audiencia

In [12]:
X = dataset_csv.drop(['Audiencia'],axis=1)

In [13]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [14]:
dataset_model = DecisionTreeRegressor()

In [15]:
dataset_model.fit(train_X, train_y)

DecisionTreeRegressor()

In [16]:
val_predictions = dataset_model.predict(val_X)

In [17]:
print("Making predictions for the following exemples:")
print(val_y)
print("The predictions are")
print(val_predictions)

Making predictions for the following exemples:
2     47.96
13    35.13
53    45.96
41    21.96
66    38.59
30    49.51
45    48.68
43    48.20
78    50.50
88     6.70
7     62.05
26    28.78
33    43.31
63    47.37
8     59.60
16    64.97
24    39.04
56    42.52
77    33.36
42    31.56
22    50.31
6     55.46
61    29.65
Name: Audiencia, dtype: float64
The predictions are
[46.84 35.78 55.57 11.56 39.43 60.   43.95 43.95 55.69  5.47 50.34 25.45
 61.13 47.85 48.91 54.39 32.73 47.85 28.54 11.56 43.72 50.34 28.54]

In [18]:
r2_score(val_predictions,val_y)

0.697070598916826